<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand">FinTech Agriculture</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-between">
        <li class="nav-item">
          <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
        </li>
        <li class="nav-item dropdown float-end"></li>
      </ul>
      <a
        class="nav-link dropdown-toggle"
        id="navbarDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Welcome, @if (userService.farmer()) {
        {{ userService.farmer()?.fname }} {{ userService.farmer()?.lname }}
        }@else {
        {{ userService.retailer()?.name }}
        }
      </a>
      <ul
        class="dropdown-menu end-0"
        style="left: 80%"
        aria-labelledby="navbarDropdown"
      >
        <li>
          <a
            class="dropdown-item"
            [routerLink]="[urlsNames.root, urlsNames.profile]"
            >Profile</a
          >
        </li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" (click)="logOut()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>