<div class="divider1"></div>
<div id="footer-wrapper">
  <div class="12u">
    <div class="container">
      <div class="row g-3 justify-content-center">
        @for (auction of auctions(); track $index) {
        <div class="col-6 col-lg-4 col-xl-3">
          <h2>{{ auction.crop.cropName }}</h2>
          <img
            class="w-auto"
            style="max-width: 200px"
            [src]="auction.crop.cropImages[0]"
            alt=""
          />
          <p class="my-2">Quantity: {{ auction.crop.cropQuantity }}</p>
          <p class="my-2">Location: {{ auction.crop.croplocation }}</p>
          <p class="my-2">
            Auction Start: {{ auction.crop.start | date : "dd-MM-YYYY" }}
          </p>
          <p class="my-2">
            Auction End: {{ auction.crop.end | date : "dd-MM-YYYY" }}
          </p>
          <p class="my-2">Price: {{ auction.crop.cropPrice }}</p>
          <p>
            <a
              style="cursor: pointer"
              (click)="openPopup(auction)"
              class="button"
              >More Details</a
            >
          </p>
        </div>
        }
      </div>
    </div>
  </div>
</div>
<div class="divider1"></div>
