<form #farmerSignUpForm="ngForm">
  <div class="form">
    <div class="field">
      <input
        [(ngModel)]="retailerBody().name"
        name="name"
        type="text"
        placeholder="First Name"
        required
      />
    </div>
    <div class="field d-flex justify-content-center gap-3">
      <input
        [(ngModel)]="retailerBody().taxNumber"
        name="taxNumber"
        type="number"
        placeholder="Tax Number"
        required
      />
      <input
        [(ngModel)]="retailerBody().phone"
        minlength="11"
        maxlength="11"
        name="phone"
        type="number"
        placeholder="phone"
        required
      />
    </div>
    <div class="field">
      <input
        [(ngModel)]="retailerBody().email"
        name="email"
        type="email"
        placeholder="Email Address"
        required
      />
    </div>
    <div class="field">
      <input
        [(ngModel)]="retailerBody().password"
        name="password"
        type="password"
        placeholder="Password"
        required
      />
    </div>
    <!-- <div class="pass-link"><a href="#">Forgot password?</a></div> -->
    <div class="field btn">
      <div class="btn-layer"></div>
      <input
        [disabled]="farmerSignUpForm.invalid"
        type="submit"
        (click)="signUp()"
        value="Signup As Farmer"
      />
    </div>
    <div class="signup-link">
      already a member?
      <a [routerLink]="[urlsNames.root, urlsNames.login]">Login now</a>
    </div>
  </div>
</form>
