<!-- Download Start -->
<div class="container-xxl py-5">
  <div class="container py-5 px-lg-5">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6">
        <img
          class="img-fluid wow fadeInUp"
          data-wow-delay="0.1s"
          src="assets/images/Frame 427319763.png"
        />
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
        <h5 class="text-primary-gradient fw-medium">Download</h5>
        <h1 class="mb-4">Download The Latest Version Of Our App</h1>
        <p class="mb-4">
          Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos
          labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit
          clita duo justo eirmod magna dolore erat amet
        </p>
        <div class="row g-4">
          <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s"
           (click)="
              openPopup(
                'https://drive.google.com/file/d/1m3qN4LaCtn2j5n31TwnAQ5t__wO0lM43/view?usp=drive_link'
              )
            "
          >
          <!-- href="https://drive.google.com/file/d/1m3qN4LaCtn2j5n31TwnAQ5t__wO0lM43/view?usp=drive_link" -->
            <a
              class="d-flex bg-primary-gradient rounded py-3 px-4"
            >
              <img width="40" src="assets/images/apps.png" />
              <div class="ms-3">
                <p class="text-white mb-0">Download</p>
                <h5 class="text-white mb-0">Farmer Version</h5>
              </div>
            </a>
          </div>
          <div
            class="col-sm-6 wow fadeIn"
            data-wow-delay="0.7s"
            (click)="
              openPopup(
                'https://drive.google.com/file/d/13VVgfcS_Lj8OH_gYI7bMwv-ERKUN30T-/view?usp=drive_link'
              )
            "
          >
          <!-- href="https://drive.google.com/file/d/13VVgfcS_Lj8OH_gYI7bMwv-ERKUN30T-/view?usp=drive_link" -->
            <a
              class="d-flex bg-secondary-gradient rounded py-3 px-4"
            >
              <img width="40" src="assets/images/apps.png" />
              <div class="ms-3">
                <p class="text-white mb-0">Download</p>
                <h5 class="text-white mb-0">Retailer Version</h5>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Download End -->
